### Strings

*f-string* provides a simple way to substitute values into string

In [1]:
first_name = "Tucker"
last_name = "Carney"

In [4]:
full_name1 = first_name + " " + last_name #string addition
full_name2 = "{0} {1}".format(first_name, last_name) #string.format

print(full_name1)
print(full_name2)

Tucker Carney
Tucker Carney

but the f-string way is much less unwieldy

In [5]:
full_name3 = f"{first_name} {last_name}"
print(full_name3)

Tucker Carney

### Exceptions

In [6]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

### Lists

In [9]:
integer_list = [1, 2, 3]
heterogenous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogenous_list, []]

In [10]:
list_length = len(integer_list) # equals 3
list_sum = sum(integer_list) # equals 6

you can get the *n*th element of a list with square brackets

In [11]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

zero = x[0]         # equals 0, lists are 0-indexed
one = x[1]          # equals 1
nine = x[-1]        # equals 9, 'Pythonic' for last element
eight = x[-2]       # equals 8, 'Pythonic' for second to last element
x[0] = -1           # now x is [-1, 1, 2, ..., 9]

You can also use square brackets to *slice* lists 
* The slice i:j means all elements from i (inclusive) to j (not inclusive)
* If you leave off the start of the slice, you'll slice from the beginning of the list
* If you leave off the end of the slice, you'll slice to the end of the list

In [12]:
first_three = x[:3]              # [-1, 1, 2]
three_to_end = x[3:]             # [3, 4, ..., 9]
one_to_four = x[1:5]             # [1, 2, 3, 4]
last_three = x[-3:]              # [7, 8, 9]
without_first_and_last = x[1:-1] # [1, 2, ..., 8]
copy_of_x = x[:]                 # [-1, 1, 2, ..., 9]

You can similarly slice strings and other "sequential" types

A slice can take a 3rd argument to indicate its *stride* which can be negative:

In [13]:
every_third = x[::3]          # [-1, 3, 6, 9]
five_to_three = x[5:2:-1]     # [5, 4, 3]

Python has an **in** operator to check for list membership:

In [14]:
1 in [1, 2, 3]   # True
0 in [1, 2, 3]   # False

False

If you want to modify a list in place you can use **extend** to add items from another collection

In [15]:
x = [1, 2, 3]
x.extend([4, 5, 6])     # x is now [1, 2, 3, 4, 5, 6]

If you don't want to modify x, you can use list addition

In [16]:
x = [1, 2, 3]
y = x + [4 + 5 + 6]    # y is [1, 2, 3, 4, 5, 6], x is unchanged

It is often convenient to *unpack* lists when you know how many elements they contain:

In [17]:
x, y = [1, 2]     # now x is 1, y is 2

A common idiom is to use an underscore for a value you're going to throw away:

In [18]:
_, y = [1, 2]

### Tuples

Tuples are like immutable lists

In [1]:
my_list = [1, 2]
my_tuple = (1, 2)

my_list[1] = 3

try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [3]:
#multiple assignment
x, y = 1, 2
#pythonic way to swap elements
x, y = y, x

### Dictionaries

In [4]:
empty_dict = {}                  # Pythonic
empty_dict2 = dict()             # less Pythonic
grades = {"Joel": 80, "Tim": 95} # dictionary literal

check for the existence of a key using **in**

In [5]:
joel_has_grade = "Joel" in grades   # True
kate_has_grade = "Kate" in grades   # False

use **get** method to return a default value (instead of raising an exception)

In [6]:
joels_grade = grades.get("Joel", 0)  # equals 80
kates_grade = grades.get("Kate", 0)  # equals 0
no_ones_grade = grades.get("No one") # equals None

use dictionaries to represent structured data

In [9]:
tweet = {
    "user": "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count": 100,
    "hashtags": ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [11]:
tweet_keys = tweet.keys()      # iterable for the keys
tweet_values = tweet.values()  # iterable for the values
tweet_items = tweet.items()    # iterable for the (key, value) tuples

"user" in tweet_keys           # True, but not Pythonic
"user" in tweet                # Pythonic way for checking for keys
"joelgrus" in tweet_values     # True (slow but the only way to check)

True

### defaultdict

like dictionaries, except when you try to look up a key it doesn't contain, it first adds a value to it using a provided argument

In [14]:
from collections import defaultdict
document = []

word_counts = defaultdict(int)      # int() produces 0
for word in document:
    word_count += 1

can also be useful with **list** or **dict** or custom functions

In [17]:
dd_list = defaultdict(list)              # list() produces an empty list
dd_list[2].append(1)                     # now dd_list contains {2: [1]}

dd_dict = defaultdict(dict)              # dict() produces an empty list
dd_dict["Joel"]["City"] = "Seattle"      # {"Joel": {"City": "Seattle"}}

dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1                        # now dd_pair contains {2: [0, 1]}

### Counters

a **Counter** turns a sequence of values into **defaultdict(int)**-like object mapping keys to counts

In [18]:
from collections import Counter
c = Counter([0, 1, 2, 0])            # c is (basically) {0: 2, 1: 1, 2: 1}

gives a very simple solution to the word_counts problem:

In [19]:
word_counts = Counter(document)

In [20]:
# print the 10 most common words and their counts:

for word, count in word_counts.most_common(10):
    print(word, count)

### Sets

represents a collection of *distinct* elements

In [22]:
primes_below_ten = {2, 3, 5, 7}

In [23]:
s = set()     # empty set
s.add(1)      # s is now {1}
s.add(2)      # s is now {1, 2}
s.add(2)      # s is still {1, 2}

* sets have very fast **in** operations
* useful for finding all distinct items in a collection

In [24]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)          # 6
item_set = set(item_list)           # {1, 2, 3}
num_distinct_items = len(item_set)  # 3

### Control Flow

In [25]:
#ternary if-then-else one liner
parity = "even" if x % 2 == 0 else "odd"

In [26]:
# for in loops
for x in range(10):                #range (10) is the numbers 0, 1, 2, ..., 9
    print(f"{x} is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

### Truthiness

In [ ]:
the following are all "falsy" in Python
*